.header-index {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-content: space-between;
  align-items: center;
}

.header-index .header_title {
  font-size: 40px;
  font-weight: 600;
}

.header-index .header-icon {
  padding-left: 25px;
  font-size: 15px;
  cursor: pointer;
}

.header_text {
  font-size: 35px;
  display: flex;
  margin-right: 570px;
  margin-left: 15px;
}

.header-icon-chat {
  padding-left: 35px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.header_text-chat {
  font-size: 35px;
  margin-left: 15px;
}

.header-icon-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
